@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-color: #ffffff;
    color: #595960;
}

.navbar {
    position: fixed; /* Sticks the navbar to the top */
    top: 0; /* Ensures it stays at the very top */
    left: 0;
    width: 100%; /* Makes it span the full width */
    height: 60px; /* Adjust the height as needed */
    display: flex;
    align-items: center; /* Centers items vertically */
    padding: 0 20px; /* Adds padding inside */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
}

.logo {
    font-family: "Damion";
    font-weight: 400;
    font-style: normal;
    color: #0c0c0d;
}

.ip {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
